services:
  minio:
    image: minio/minio:RELEASE.2025-02-28T09-55-16Z
    environment:
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: password
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"

volumes:
  minio_data:
    driver: local
